@using System.Web.Http
@using ADeeWu.HuoBi3J.MobileService.Areas.HelpPage.Models
@model HelpPageApiModel

@{ 
    var description = Model.ApiDescription;
    bool hasParameters = description.ParameterDescriptions.Count > 0;
    bool hasRequestSamples = Model.SampleRequests.Count > 0;
    bool hasResponseSamples = Model.SampleResponses.Count > 0;
}
<h1>@description.HttpMethod.Method @description.RelativePath</h1>
<div>
    @if (description.Documentation != null)
    {
        <p>@description.Documentation</p>
    }
    else
    {
        <p>没有相关文档</p>
    }

    @if (hasParameters || hasRequestSamples)
    {
        <h2>请求参数</h2>
        if (hasParameters)
        {
            <h3>参数说明</h3>
            @Html.DisplayFor(apiModel => apiModel.ApiDescription.ParameterDescriptions, "Parameters")
        }
        if (hasRequestSamples)
        {
            <h3>请求例子</h3>
            @Html.DisplayFor(apiModel => apiModel.SampleRequests, "Samples")
        }
    } 

    <h2>返回说明</h2>
    @if (description.ResponseDescription.Documentation != null)
    {
    <p>@description.ResponseDescription.Documentation</p>
    }
    else
    {
    <p>没有相关文档</p>
    }

    @if (hasResponseSamples)
    {        
        <h3>返回内容格式</h3>
        @Html.DisplayFor(apiModel => apiModel.SampleResponses, "Samples")
    }
</div>